{% extends 'base.html' %}

{% block content %}
<div class = "row resultRow">
    {% for Drug in  object_list %}
    <div class = "col-lg-3">
        <div class = "card">
            <img class = "card-img-top" src = "/media/{{Drug.Preview}}">
            <div class = "card-body">
                <div class = "row justify-content-center">
                        <h5 class = "card-title"><i class = "fas fa-pills"></i> {{Drug.Drug_name}}</h5>
                </div>
                <p class = "card-text">
                   <span class = "material-icons">settings</span> Manufactured by: {{Drug.Drug_Manufacturer}}
                </p>
                <hr>
                <p class = "card-text">
                   <span class = "material-icons md-36">bubble_chart</span> Type: {{Drug.Drug_type}} 
                </p>
                <hr>
                <p class = "card-text">
                   <i class = "far fa-clock"></i> Expiry_Date:  {{Drug.Drug_Expiry}}
                </p>
                <hr>
                <div class = "row justify-content-center">
                    <button class = "btn rounded blue-gradient"><i class = "fas fa-2x fa-cart-plus"></i></button>
                    <button class = "btn rounded blue-gradient"><i class = "fas fa-2x fa-credit-card"></i></button>
                    <button class = "btn rounded blue-gradient"><i class = "fas fa-2x fa-arrow-right"></i></button>
                </div>
            </div>
        </div>

    </div>
   
    {% endfor %}
</div>
{% endblock content %}
    
